@model Week7CodeAssessment.Models.Claim

@{
    ViewData["Title"] = "Details";
}

<h1>DETAILS CLAIM</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            DESCRIPTION
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            STATUS
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            CLAIM DATE
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            VEHICLES ID
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id"  class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
