@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Ariza Motor!</h1>

    <br />

    <p>In this website you can create, read, update and delete owners, vehicles and claims.</p>

    <br/>

    <a class="btn btn-success btn-lg" href="/Owners">OWNERS</a>
    <a class="btn btn-success btn-lg" href="/Vehicles">VEHICLES</a>
    <a class="btn btn-success btn-lg" href="/Claims">CLAIMS</a>

</div>
