@model Week7CodeAssessment.Models.Owner

@{
    ViewData["Title"] = "Edit";
}

<h1>EDIT OWNER</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"><b>FIRST NAME</b></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"><b>LAST NAME</b></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriverLicense" class="control-label"><b>DRIVER LICENSE</b></label>
                <input asp-for="DriverLicense" class="form-control" />
                <span asp-validation-for="DriverLicense" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
 <br/>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>


